/* 
    Created on : 25/03/2020, 06:17:20 PM
    Author     : Juan Pablo
*/

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

a{
    text-decoration: none;
}

.seleccionPagina{
    background-color: #2D3138;
}

header{
    position: fixed;
    top: 0;
    background-color: #1D1D1F;
    height: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 2;
    /*justify-content: center;*/
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

#headerLogo{
    /*left:0;*/
    width: 20%;
    justify-content: center;
    /*position: absolute;*/
    display: flex;
    align-items: center;
}

#headerLogo img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 20px;
}

#headerLogo h2{
    margin:0;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}

#textoBienvenida{
    text-align: center;
    margin: 0;
    padding: 10px;
    width:80%;
    color:white;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
}

#panelInfo{
    text-align: center;
    width: 20%;
    height: 100%;
}

#iconoInfo, #iconoAccount{
    color: white;
    width: 30px;
    height: 30px;
    margin: 15px;
    cursor: pointer;
}

#pnlInfo{
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px -2px  rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px  rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px  rgba(0,0,0,0.75);
    margin: 10px;
    border-radius: 7px;
    display: none;
}

#pnlInfo h2{
    margin: 5px 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#pnlInfo p{
    padding: 0 15px;    
    font-family: 'Roboto Condensed', sans-serif;
}

main{
    display:flex;
    height: auto;
}

#pnlSide{
    padding-top: 65px;
    height: 100vh;
    position: fixed;
    width: 20%;
    background-color: #1D1D1F;
    flex: 0 0 20%;
    z-index: 1;
}

#pnlPrincipal{
    flex: 0 0 80%;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin-left: 20%;
    padding-top: 60px;
    background-color: #fafafa;
}

#contenido{
    text-align: center;
}

#contenido img{
    width:80px;
    height: 80px;
}

#contenido h2{
    margin: 5px 0;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}

#menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

#menu li{
    cursor: pointer;
    padding: 20px 0;
    color:white;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

#menu li:hover{
    background-color: #2D3138;
}

#menu svg{
    margin-right: 10px;
}

.accountsList div{
    cursor: pointer;
    transition: all .4s ease;
}

.accountsList div:hover{
    background-color: #f1f1f1;
}

.accountsList img{
    width: 40px;
}

.accountsList h2{
    margin: 0px !important;
    padding: 4px 0;
    font-weight: normal;
    font-size: 18px;
}

.accountsList h2:hover{
    color: #DE4C33;
}

.accountsList hr{
    margin: 4px 0;
}

.accountActive{
    cursor: default !important;
    background-color: #e1e1e1;
}

.menuDesplegable{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menuDesplegable svg{
    width: 25px !important;
    height: 25px;
}

.menuDesplegable h3{
    margin: 0;
    padding: 10px;
    font-weight: normal;
    font-size: 20px
}

.menuDesplegable:hover{
    color: #DE4C33;
}

#textoCuenta{
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
}

#salir{
    cursor: pointer;
    background-color: #242426;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    color:white;
}

#salir h2{
    margin: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* =======  INICIO  
    ESTIMADO
    tamaño codigo = 3440
    tiempo = 920


=======*/

#pnlInicio{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#pnlInicio h2{
    font-family: 'Roboto Condensed', sans-serif;
    color:#323232;
}

.cardReserva{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-color: #c1c1c1;
    color: #c1c1c1;
    border: 1px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardReserva h3{
    font-weight: normal;
    margin:5px 0px;
}

.cardReserva em{
    font-weight: bold;
    font-style: normal;
}

.reservaActiva{
    border-color: green;
    color: black;
}

#pnlReservasInicio{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #323232;
    display: flex;
    justify-content: center;
}

#pnlReservasGrid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

#infoInicio{
    display: flex;
    width: 100%;
    height: 80%;
}

#mapaInicio{
    height: 100%;
    text-align: center;
    width: 100%;
    border-right: .6px solid #323232;
    display:flex;
    flex-direction: column;    
}

#mapaInicio h2, #pnlInicio h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#graficoInicio{
    text-align: center;
    height: 100%;
    width: 100%;
    border-left: .5px solid #323232;
}

#grafico, #mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 10px;*/
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px -2px  rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px  rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px  rgba(0,0,0,0.75);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


#grafico img{
    width: 100%;
}

#formR{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    flex-direction: column;
    margin: auto;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
}

#formReserva{
    width: 60%;
}


#formReserva div{
    margin: 30px 0;
    display: flex;
    align-items: center;
}

#formReserva label{
    width: 40%;
    font-family: 'Roboto Condensed', sans-serif;
}

#formReserva input, #formReserva select{
    height: 50px;
}

#formReserva select{
    width: 100%;
}

.select{
    pointer-events: none;
    opacity: .2;
}

#formReserva input[type="submit"]{
    width: 70%;
    margin: 0 auto;
    color:white;
    border:none;
    cursor:pointer;
    display: block;
    background-color: #DE4C33;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
}

#formReserva input[type="submit"]:hover{
    opacity: .8;
}

#formReserva input[type="text"]{
    text-transform: uppercase;
    margin: 0px 10px;
    padding-left: 10px;
    outline: none;
}

/*============ HISTORIAL ============*/
#history{
    width: 100%;
    text-align: center;
    flex:1;
    font-family: 'Roboto Condensed', sans-serif;
}

#history th{
    padding: 10px 0;
    background: #2d3138;
    color: white;
}

tr{
    background-color: white;
    transition: all .4s ease; 
}
tr:hover{
    background-color: #2d3138;
    color:white;
}

.row{
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.row >*{
    flex:1;
}

.cardParqueaderos{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-shadow:inset 0px 0px 0px 2px #535353;
    -moz-box-shadow:inset 0px 0px 0px 2px #535353;
    box-shadow:inset 0px 0px 0px 2px #535353;
}

#textoReserva{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/*====== PARQUEADEROS ======*/
#pnlParqueaderos{
    margin:15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.cardParqueaderoInterno{
    overflow: hidden;
    border-radius: 7px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
}

.cardParqueaderoInterno img{
    width: 100%;
    height: 120px;
    background-size: cover;
}

.cardParqueaderoInterno h3{
    margin: 5px 0;
    padding: 0px 7px;
    color:#323232;
}

.cardParqueaderoInterno span{
    color:#DE4C33;
}

.cardParqueaderoInterno div{
    margin: 20px 0;
}

/*Panel Tiempo Real*/

.pnlDrop{
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #242426;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.pnlDrop h3{
    width: 100%;
    margin: 0;
}

.pnlDrop svg{
    margin-right: 20px;
}

#pnlMotos, #pnlCarros{
    display: grid;
    padding: 0 10px;
    grid-template-columns: repeat(8,1fr);
}

.cardTiempoReal{
    width: 100%;
    flex: 1;
    height: 150px;
    padding: 5px;
    border-left: 2px solid #8e8e8e;
    border-bottom: 4px solid #8e8e8e;
    border-right: 2px solid #8e8e8e;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardTiempoReal:nth-child(8n), .cardTiempoReal:last-of-type{
    border-right: 4px solid #8e8e8e;
}

.cardTiempoReal:nth-child(8n+1){
    border-left: 4px solid #8e8e8e;
}

.ocupado{
    border-color: #1cbd1c !important;
}

.cardTiempoReal h3{
    margin: 0;
}

.cardTiempoReal img{
    height: 100px
}

/*PANEL PARQUEADERO INDIVIDUAL*/

#pnlParqueaderoIndividual{
    width: 100%;
    height: 100%;
    display: flex;
}

#mapaParqueaderoIndividual{
    width: 70%;
    background-color: red;
    height: 100%;
}

#infoParqueadero{
    width: 30%;
    background-color: white;
    height: 100%;
    padding: 7px;
    font-family: 'Roboto Condensed', sans-serif;
}

#infoParqueadero h2{
    text-align: center;
    text-transform: uppercase;
}

#infoParqueadero h4{
    text-align: center;
    font-weight: normal;
    margin: 5px;
}

#reservarPI{
    display: flex;   
    padding: 10px 0;
    flex-direction: column;
}

#reservarPI button, #reservarPI input[type='submit']{
    background-color: #DE4C33;
    margin: 0 auto;
    padding: 7px 12px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    outline: none;
}

#reservarPI .fila{
    display: flex;
    width: 100%;
    align-items: center;
}

#reservarPI .columna{
    margin: 10px;
    width: 100%;
}

#reservarPI input[type='submit']{
    display: flex;
    justify-content: center;
}
